<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="/static/style.css" />
    <title>otivam Recipes</title>
  </head>
  <body>
    <div class="container shadow rounded">
      <nav aria-label="breadcrumb" class="register-login mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item logout">Logout</li>
            <li class="breadcrumb-item register">Register</li>
            <li class="breadcrumb-item login">Login</li>
        </ol>
      </nav>

      {% if current_user.is_active %}
        <input type="text" id="is-logged-in" name="is-logged-in" value="1" hidden>
      {% else %}
        <input type="text" id="is-logged-in" name="is-logged-in" value="0" hidden>
      {% endif %}
      
        <!-- REGISTER -->
        <div class="modal fade" id="register_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><i>Register</i> /</h1>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="register-email">Email address</label>
                  <input type="email" class="form-control" id="register-email" name="register-email" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <p class="text-danger validation-register-email">Invalid email</p>
                </div>

                <div class="form-group">
                  <label for="register-username">Username</label>
                  <input type="text" class="form-control" id="register-username" name="register-username">
                </div>
                <p class="text-danger validation-register-username">This username is already taken</p>

                <div class="form-group">
                  <label for="register-pass">Password</label>
                  <input type="password" class="form-control" id="register-pass" name="register-pass">
                </div>
                <p class="text-danger validation-register-pass-strength">Your password should contain one capital letter and one special symbol</p>
                <p class="text-danger validation-register-pass-length">Your password should be at least 8 characters long</p>

                <div class="form-group">
                  <label for="register-repeat-pass">Repeat password</label>
                  <input type="password" class="form-control" id="register-repeat-pass" name="register-repeat-pass">
                </div>
                <p class="text-danger validation-register-repeat-pass">Please repeat your password</p>

                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary register-close" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary register-submit">Submit</button>
              </div>
            </div>
          </div>
        </div>

        <!-- LOGIN -->
        <div class="modal fade" id="login_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"><i>Login</i> /</h1>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <p class="text-danger validation-login">Wrong username or password! Please try again.</p>
                  <label for="login-username">Username</label>
                  <input type="text" class="form-control" id="login-username" name="login-username">
                </div>

                <div class="form-group">
                  <label for="login-pass">Password</label>
                  <input type="password" class="form-control" id="login-pass" name="login-pass">
                </div>

                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary login-close" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary login-submit" hidden>Submit</button>
              </div>
            </div>
          </div>
        </div>
      






      <!-- SUCCESSFUL REGISTER -->
      <div class="modal fade" id="successful_register_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Successful registration !</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary successful-registration-close" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- SUCCESSFUL LOGIN -->
      <div class="modal fade" id="successful_login_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Welcome !</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary welcome-close" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- LOGOUT -->
      <div class="modal fade" id="logout_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Goodbye !</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary welcome-close" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <center class="pt-5 pb-5">
        <h2>
          HUNGRY? It's time for cooking! <br>
          <small class="text-muted">What do you want to eat?</small>
        </h2>
        
        <form action="/search/" method="post">
            <div class="input-group mb-3" style="max-width: 50%;">
                <input type="text" class="form-control" placeholder="Soup, salad, pasta" aria-label="Ingridients" aria-describedby="button-addon2" name="ingridients">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>          
            </div>
        </form>
      </center>

      <!-- Recipes -->
      <table>
        {% for recipe in recipes %}

          <!-- VIDOE MODAL -->
          <div class="modal fade" id="video_modal_{{ recipe['id'] }}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"><i>{{ recipe['name'] }}</i> /</h1>
                </div>
                <div class="modal-body">
                  {% if recipe["original_video_url"] != "" %}
                    <video id="recipe_video" class="rounded mt-5" src="{{ recipe["original_video_url"] }}" style="width: 100%; height: 400px" allowfullscreen controls></video>
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- INSTRUCTIONS MODAL -->
          <div class="modal fade" id="instructions_modal_{{ recipe['id'] }}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"><i>{{ recipe['name'] }}</i> /</h1>
                </div>
                <div class="modal-body">
                  <h4>Ingredients</h4>
                  {% if recipe["sections"] %}
                      <ul>
                        {% for ingr in recipe["sections"][0]["components"] %}
                          <li>{{ ingr["raw_text"] }}</li>
                        {% endfor %}
                      </ul>
                  {% endif %}

                  <h4>Instructions</h4>
                  <ol>
                    {% for instr in recipe['instructions'] %}
                      <li>{{ instr['display_text'] }}</li>
                    {% endfor %}
                  </ol>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- DETAILS MODAL -->
          <div class="modal fade" id="details_modal_{{ recipe['id'] }}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel"><i>{{ recipe['name'] }}</i> /</h1>
                </div>
                <div class="modal-body">

                  {% if recipe["nutrition"] %}
                    <div>
                      <h4>Nutritions</h4>
                        <ul>
                          {% for key,value in recipe["nutrition"].items() %}
                            {% if key != "updated_at" %}
                              <li>{{ key }}: {{ value }}</li>
                            {% endif %}  
                          {% endfor %}
                        </ul>
                    </div>
                  {% endif %}


                  <div class="row">
                    <h4>Rating</h4>
                    <div class="col-md-4 text-nowrap">
                      <i class="bi bi-hand-thumbs-up icon-green"></i><span> Positive: {{ recipe["user_ratings"]["count_positive"] }}</span>
                    </div>
                    <div class="col-md-4 text-nowrap">
                      <i class="bi bi-hand-thumbs-down icon-red"></i><span> Negative: {{ recipe["user_ratings"]["count_negative"] }}</span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <tr class="recipe_{{ recipe['id'] }} page_{{ recipe['page'] }}" id="{{ recipe['id'] }}">
            <td>
              <img class="thumbnail rounded" src="{{ recipe['thumbnail_url'] }}" alt="Oops!">
            </td>
            <td>
              <a href="{{ url_for('recipe_details',recipe_id=recipe['id']) }}" target="_blank"><H2>{{ recipe['name'] }}</H2></a>
              </br></br>
              {% if recipe['description'] %}
                <p>{{ recipe['description'] }}</p>
              {% endif %}
            </td>
            <td class="recipe-details">
              <ul>
                <li><i class="bi bi-egg icon-blue"></i> Number of servings: {{ recipe['num_servings'] }}</li>
                {% if recipe['total_time_minutes'] %}
                  <li><i class="bi bi-clock icon-blue"></i> Prep time: {{ (recipe['total_time_minutes']/60)|round(2) }} hours</li>
                {% endif %}
                {% if recipe['total_time_tier'] %}
                  <li><i class="bi bi-hdd-stack icon-blue"></i> Group: {{ (recipe['total_time_tier']["display_tier"]) }} </li>
                {% endif %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>

      <!-- Pagination -->
      <div class="center mb-5 pb-5 pt-5" hidden>
        <div class="pagination-bar">
          <span href="#" class="button_1 active">1</span>
        </div>
      </div>
    </div>


    <!-- JavaScript -->
    <script>
      if("{{ pagination }}" == "True"){
        $(".button_1").show();
        $(".center").removeAttr("hidden");

        var recipes = $("tr[class^='recipe_']"),
              num_of_recipes = recipes.length;

        function hide_display_active_page(active_page){
          for(var x = 1; x <= "{{ cc_page }}"; x++){
            if(x != active_page){
              $(".page_"+x).hide();
            }else{
              $(".page_"+x).show();
            }
          }
        }

        for(var x = 2; x <= "{{ cc_page }}"; x++){
          $(".pagination-bar").append("<span href='#' class='button_"+x+"'>"+x+"</span>")
          $(".page_"+x).hide();
        }

        for(var x = 1; x <= "{{ cc_page }}"; x++){
          $(".pagination-bar .button_"+x).on("click", function(){
            window.parent.scrollTo(0,0);
            $(".active").removeClass("active");
            $(this).addClass("active");
            hide_display_active_page($(".pagination-bar span").index($(this))+1);
          })
        }
      }
    </script>

    <script src="{{url_for('static', filename='master.js')}}"></script>
  </body>
</html>